/* Global */
body {
    background-color: #192a56;
}

h1, h2, h3, h4, h5, h6, p, .modal-content li {
    color: #dcdde1;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Roboto, Arial, sans-serif;
}

/* Primary sections */
.primary-section {
    padding: 4em 0;
    text-align: center;
}

.primary-section h2 {
    font-weight: bold;
}

/* Horizontal rules */
hr {
    margin-bottom: 2em;
}

/* Taken from http://codepen.io/rvinay88/pen/Hweau
 * Thank you whoever uploaded this! */
hr.soften {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,.8), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,.8), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,.8), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,.8), rgba(0,0,0,0));
    border: 0;
}

/* About section */
#about {
	padding-top: 10em;
    text-align: left;
}

/* Projects section */
.project {
    display: inline-block;
    padding: 1em 1em 0 1em;
    margin: 0 1em 0 1em;
    transition: all .3s ease-in-out;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.2);
}

.project img {
    margin: 0 auto;
    width: 200px;
}

.project p {
    text-align: center;
}

/* Other stuff section */
#other_stuff img {
    max-width: 100%;
    margin: 1em 0;
}

/* Contact section */
#contact {
    background-color: #273c75;
    text-align: center;
}

#contact a {
    display: inline-block;
    color: #999;
}

#contact a:hover, #contact a:hover > h3 {
    color: #3498db;
}

/* Footer */
#footer {
    padding: 0.5em 0;
    background-color: #192a56;
}

#footer p {
    text-align: center;
    margin: 0 auto;
	color: #718093;
}

/********************* MODALS *********************/
.modal-title {
    font-weight: bold;
}

.modal-content {
    background-color: #444;
	padding: 1em 2em;
}

.modal-title {
    font-weight: bold;
    margin-top: 2em;
}

.modal-body-banner {
	display: block;
	margin: 2em auto;
	max-height: 250px;
}

.modal-body p {
    text-align: justify;
    padding: 0 1em;
}
