/* Global */
h1, h2, h3, h4, h5, h6, a, p {
    font-family: "Roboto", Arial, sans-serif;
}

.primary-section {
    padding: 3em 0;
    text-align: center;
}

.primary-section h2 {
    font-weight: bold;
}

hr {
    margin-bottom: 2em;
}

/* Taken from http://codepen.io/rvinay88/pen/Hweau
 * Thank you whoever uploaded this! */
hr.soften {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
    border: 0;
}

/* Jumbotron section */
.jumbotron h1 {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

/* About section */
#about {
    text-align: center;
}

/* Projects section */
.project {
    display: inline-block;
    padding: 1em 1em 0 1em;
    margin: 0 1em 0 1em; 
    transition: all .3s ease-in-out;
    max-width: 200px;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.2);
}

.project img {
    margin: 0 auto;
}

.project p {
    text-align: center;
}

/* Contact section */
#contact {
    background-color: rgb(189, 195, 199);
    text-align: center;
}

#contact a {
    display: inline-block;
    color: #000;
}

#contact a:hover {
    color: #3498db;
}

/* Footer */
#footer {
    padding: 0.5em 0;
    background-color: rgb(65, 131, 215);
}

#footer p {
    text-align: center;
    margin: 0 auto;
    color: #000;
}

/********************* MODALS *********************/
.modal-title {
    font-weight: bold;
}

.modal-body p {
    text-align: justify;
    padding: 0 1em;
}

.modal-body h4 {
    font-weight: bold;
    margin-top: 2em;
}

.modal-body img {
    margin: 0 auto;
    max-height: 250px;
}
